
# ignore these folders
/checkpoint
/data
/input*
/output*
/temp
/wandb
/venv
/cache
/datasets*
/pretrained_weights
/weights

**/.ipynb_checkpoints/
.vscode/
.idea

# ignore these types
*.pyc
*.out
*.log
*.mexa64
*.pdf
*.tar